@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-white;
  font-family: "ArcadeClassic";
  background-color: black;
  overflow: hidden;
}

@font-face {
  font-family: "ArcadeClassic"; /*Can be any text*/
  src: local("ArcadeClassic"),
    url("./fonts/ARCADECLASSIC.TTF") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  @apply text-2xl;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
